
// fonts

$sfRegular: 'San Francisco Text Regular', Arial, sans-serif;
$sfBold: 'San Francisco Text Bold', Arial, sans-serif;

// general colors

$apple-green: #7ed321;
$white: #ffffff;

// media quories

$break-middle: "screen and (max-width: 768px)";
$break-small: "screen and (max-width: 480px)";



