@font-face {
    font-family: 'San Francisco Text Regular';
    src: url('../assets/fonts/SFUIText-Regular.eot');
    src: url('../assets/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/SFUIText-Regular.woff') format('woff'),
    url('../assets/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Text Bold';
    src: url('../assets/fonts/SFUIText-Bold.eot');
    src: url('../assets/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/SFUIText-Bold.woff') format('woff'),
    url('../assets/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}